.btn {

  border-radius: 100px;
  outline: none;
  transition: all .1s;
  overflow: hidden;
  position: relative;

  &--play {
    backface-visibility: hidden;
    background-color: $color-palette-5;
    border:1px solid darken($color-palette-5, 20);
    box-shadow: inset 0 2px 1px lighten($color-palette-5, 20);
    color: $color-palette-1;
    font-size: $l-size;
    letter-spacing: .2rem;
    padding: $m-size $xl-size;


    &:hover {
      transform: scale(1.1);

    }
    &:active {
      box-shadow: inset 0 2px 1px lighten($color-palette-5, 20);
      color: $color-palette-2;
      transform: scale(0.8) translateY(.3rem);


      // &::after {
      //   transform: scaleX(1.4) scaleY(1.6);
      //   opacity: 0;
      // }
    }
    &:disabled {
      opacity: .8;
    }

      // &:after {
      // content: "";
      // background: $color-white;
      //
      // display: block;
      // position: absolute;
      // padding-top: 300%;
      // padding-left: 350%;
      // margin-left: -50px!important;
      // margin-top: -120%;
      // opacity: 0;
      // transition: all 0.8s
      // }
      //
      // &:active:after {
      //     padding: 0;
      //     margin: 0;
      //     opacity: 1;
      //     transition: 0s
      // }


    // &:active {
    //   box-shadow: 0 1rem 2rem rgba($color-black,.2);
    //   transform: translateY(-.3rem);
    //
    //   &::after {
    //     transform: scaleX(1.4) scaleY(1.6);
    //     opacity: 0;
    //   }
    // }
    // &::after {
    //   background-color: $color-palette-5;
    //   border-radius: 10rem;
    //   content: "";
    //   display: inline-block;
    //   height: 100%;
    //   width: 100%;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   transition: all .4s;
    //   z-index: -1;
    // }


  }



}
