
.nav {
  border: 1px solid black;

  display: inline-block;
  &__highscore {
    display: inline-block;
    &--highlight {
      color:blue;
    }
  }

}

// .fa {
//   &fa-info-circle {
//     font-size: 48px;
//     color: red;
//   }
// }
